:root {
  color-scheme: light dark;

  --color-background: #121212;
  --color-foreground: #ffffff;

  --border-1: 1px solid var(--color-foreground);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: #ffffff;
    --color-foreground: #000000;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #121212;
    --color-foreground: #ffffff;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  position: relative;
  min-height: 100dvh;
}

main {
  width: 70dvw;
  margin: 1rem auto 0 auto;
}

.video-container {
  margin: 1rem auto 0 auto;
  display: grid;
  gap: clamp(0.5rem, 2vw, 1rem);
  grid-template-columns: repeat(4, 1fr);
}

.color-overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  mix-blend-mode: color; /* Tints the video while preserving luminosity */
  transition: background-color 0.4s ease; /* Smooth transition between effects */
  opacity: 0.6; /* Adjust for intensity */
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 1.5rem;
}

button {
  border: var(--border-1);
  padding: 0.5rem 0.75rem;
  font-size: clamp(1.2rem, 2vw, 1.7rem);
  color: var(---color-foreground);
  background: none;
  cursor: pointer;
}
